---
export const partial = true;

import { z } from "astro/zod";
import { Card, CardHeader, CardContent } from "../../components/card";
import { FormName } from "simple-stack-form/components";

type Props = {
  id: string;
  name: string;
};

const { formAction, getSearchParams } = Astro.locals.partial;
const { id, name } = await getSearchParams<Props>();

const formName = `sound-${id}`;

const idForm = await Astro.locals.form.getDataByName(formName, {
  name: z.string().min(2),
});

if (idForm?.success) {
  // fake db timeout
  await new Promise((resolve) => setTimeout(resolve, 1000));
}
---

<Card style={{ viewTransitionName: `card-${id}` }}>
  <form
    class="relative"
    x-data="{loading: false}"
    action={formAction}
    method="POST"
    @submit="loading = true"
  >
    {
      idForm?.success && (
        <p class="bg-green-200 text-green-950 rounded px-2 py-1 text-sm">
          Success!
        </p>
      )
    }
    <FormName value={formName} />
    <CardHeader>
      <p
        x-cloak
        x-show="loading"
        class="absolute right-[-2px] top-[-2px] rounded-full bg-yellow-200 p-1 w-4 h-4 animate-spin flex items-center justify-center text-black"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
          ></path>
        </svg>
      </p>
      <input
        style={{ viewTransitionName: `input-${id}` }}
        type="text"
        name="name"
        class="bg-background"
        value={name}
      />
      <ul>
        {
          !idForm?.success &&
            idForm?.error.formErrors.fieldErrors.name?.map((error) => (
              <li class="bg-red-200 text-red-950 px-2 py-1 text-sm rounded">
                {error}
              </li>
            ))
        }
      </ul>
      <CardContent>
        <p>0 sounds</p>
      </CardContent>
    </CardHeader>
  </form>
</Card>
